body {
  /* Styles for the light color scheme */
  background-color: white;
  color: black;
  padding:0;
}

@media (prefers-color-scheme: dark) {
  body {
    /* Styles for the dark color scheme */
    background-color: #1F1E24;
    color: white;
  }
}